---
import { Chapter as ChapterType, Language } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    chapter: ChapterType;
    language: Language;
}

const { chapter, language } = Astro.props;

const id = getUrlFragment(chapter.semanticPath, false, language).fragment;
const childContent = getAllChildContent(chapter);
---

<h3 {id}>
    {chapter.title}
</h3>
<ContentBaseArray content={childContent} {language} />
