---
import { ElementID } from '@logic/ui';
---

<script>
    import { defineElement } from '@logic/custom-elements';
    import { hide, onClick, show } from '@logic/dom-utils';
    import { $selectedCrossReference, clear } from '@logic/store/cross-reference';
    import { ElementID } from '@logic/ui';

    class CrossReferenceWindow extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            const closeButton = document.getElementById(ElementID.CROSS_REFERENCE_CLOSE);
            const navigateTo = document.getElementById(ElementID.CROSS_REFERENCE_NAVIGATE_TO_WRAPPER);

            onClick(closeButton, () => clear());
            onClick(navigateTo, () => clear());

            $selectedCrossReference.subscribe((selection) => {
                if (selection) {
                    show(this);
                } else {
                    hide(this);
                }
            });
        }
    }

    defineElement('cross-reference-window', CrossReferenceWindow);
</script>

<cross-reference-window class="hidden">
    <div class="max-h-[30vh] bg-slate-500">
        <button type="button" id={ElementID.CROSS_REFERENCE_CLOSE}>[ close ]</button>

        <div id={ElementID.CROSS_REFERENCE_NAVIGATE_TO_WRAPPER}></div>
        <div id={ElementID.CROSS_REFERENCE_CONTENT_WRAPPER} class="overflow-y-scroll"></div>
    </div>
</cross-reference-window>
