---
import { InBrief as InBriefType, Language } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';
import { translate } from '@logic/translation';

import ContentBase from './content-base.astro';

interface Props {
    inBrief: InBriefType;
    language: Language;
}

const { inBrief, language } = Astro.props;

const id = getUrlFragment(inBrief.semanticPath, false, language).fragment;
const childContent = getAllChildContent(inBrief);
---

<div {id}>
    <strong class="block">{translate('In Brief', language)}</strong>
    <ol>
        {
            childContent.map((c) => (
                <li>
                    <ContentBase content={c} {language} />
                </li>
            ))
        }
    </ol>
</div>
