---
import { Language, ParagraphSubitem as ParagraphSubitemType } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    paragraphSubitem: ParagraphSubitemType;
    language: Language;
}

const { paragraphSubitem, language } = Astro.props;

const childContent = getAllChildContent(paragraphSubitem);
---

<li>
    <ContentBaseArray content={childContent} {language} />
</li>
