---
import { Language, Part as PartType } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    part: PartType;
    language: Language;
}

const { part, language } = Astro.props;

const childContent = getAllChildContent(part);
---

<h1>{part.title}</h1>
<ContentBaseArray content={childContent} {language} />
