---
import { Language, Section as SectionType } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    section: SectionType;
    language: Language;
}

const { section, language } = Astro.props;

const id = getUrlFragment(section.semanticPath, false, language).fragment;
const childContent = getAllChildContent(section);
---

<h2 {id}>
    {section.title}
</h2>
<ContentBaseArray content={childContent} {language} />
