---
import { Language, Subarticle as SubarticleType } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getUrlFragment } from '@logic/routing';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    subarticle: SubarticleType;
    language: Language;
}

const { subarticle, language } = Astro.props;

const id = getUrlFragment(subarticle.semanticPath, false, language).fragment;
const childContent = getAllChildContent(subarticle);
---

<h6 {id}>
    {subarticle.title}
</h6>
<ContentBaseArray content={childContent} {language} />
