---
import { Language } from '@catechism-types';

import { ElementID } from '@logic/ui';

import LanguageSwitcher from './language-switcher.astro';

interface Props {
    language: Language;
}

const { language } = Astro.props;
---

<div class="flex justify-center items-center gap-8 font-sans text-sm p-2">
    <div>Search</div>
    <div>Settings</div>
    <div id={ElementID.LANGUAGE_SWITCHER_WRAPPER}>
        <LanguageSwitcher currentLanguage={language} />
    </div>
</div>
