---
import { Language } from '@catechism-types';

export interface ApostolicConstitutionInterface {
    title: string;
    subtitle: string;
    authorText: Array<string>;
    intro: string;
}

interface Props {
    language: Language;
}

const { language } = Astro.props;

const constitution = getConstitution(language);

function getConstitution(language: Language): ApostolicConstitutionInterface {
    switch (language) {
        case Language.ENGLISH:
            return {
                title: 'Apostolic Constitution',
                subtitle: 'Subtitle Text',
                authorText: ['line 1', 'line 2', 'line 3'],
                intro: 'Intro text goes here.',
            };
        case Language.LATIN:
            return {
                title: 'Apostolic Constitution',
                subtitle: 'Subtitle Text',
                authorText: ['line 1', 'line 2', 'line 3'],
                intro: 'Intro text goes here.',
            };
        case Language.SPANISH:
            return {
                title: 'Apostolic Constitution',
                subtitle: 'Subtitle Text',
                authorText: ['line 1', 'line 2', 'line 3'],
                intro: 'Intro text goes here.',
            };
    }
}
---

<div class="max-w-[40rem] mx-auto px-12">
    <h1>{constitution.title}</h1>
    <h2>{constitution.subtitle}</h2>

    <div class="flex flex-col items-center">
        {constitution.authorText.map((text: string) => <span>{text}</span>)}
    </div>

    <em>{constitution.intro}</em>

    <div class="mt-8">
        <!-- deno-fmt-ignore -->
        {language === Language.ENGLISH && '(English text)'}
        {language === Language.LATIN && '(Latin text)'}
        {language === Language.SPANISH && '(Spanish text)'}
    </div>
</div>
