@import 'tailwindcss';

/* The class referenced here must match that specified by the `DARK_MODE_CLASS_TAILWIND` constant in `theme.ts` */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --tailwind-default-font-sans:
        ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --tailwind-default-font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --tailwind-default-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --font-sans: PTSans, var(--tailwind-default-font-sans);
    --font-serif: 'Crimson Pro', var(--tailwind-default-font-serif);
    --font-title: 'Aleo', var(--tailwind-default-font-serif);
}

@layer base {
    :root {
        scroll-behavior: auto;
    }

    /* This hides custom elements until they are defined
    (this is used to hide Shoelace components until they finish loading: https://shoelace.style/getting-started/usage#waiting-for-components-to-load) */
    :not(:defined) {
        visibility: hidden;
    }

    @font-face {
        font-family: 'Aleo';
        src:
            local('Aleo'),
            url(/fonts/Aleo-VariableFont_wght.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Crimson Pro';
        src:
            local('Aleo'),
            url(/fonts/CrimsonPro-VariableFont_wght.ttf) format('truetype');
    }

    @font-face {
        font-family: 'PTSans';
        font-weight: 400;
        src:
            local('PT Sans'),
            url(/fonts/PTSans-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'PTSans';
        font-weight: 700;
        src:
            local('PT Sans Bold'),
            url(/fonts/PTSans-Bold.ttf) format('truetype');
    }
}
