---
import { DEFAULT_LANGUAGE, Language } from '@catechism-types';

import PrefetchOnMouseover from '@components/prefetch-on-mouseover.astro';

import { joinPaths } from '@logic/routing';

interface Props {
    url: string;
    language: Language;
}

const { url, language } = Astro.props;

// deno-fmt-ignore
const href = DEFAULT_LANGUAGE === language
    ? url
    : joinPaths(language, url)
---

<PrefetchOnMouseover url={href}>
    <a
        {href}
        class="block bg-white py-4 px-text space-y-0.5 rounded shadow-md transition-all duration-300 hover:scale-102 hover:shadow-lg active:bg-slate-50 active:scale-99 dark:bg-zinc-750 dark:shadow-zinc-950 dark:active:bg-zinc-800"
    >
        <div class="font-sans font-semibold text-base text-sky-900/80 tracking-wider uppercase dark:text-zinc-300">
            <slot name="subtitle" />
        </div>

        <h3 class="font-title font-medium text-2xl text-sky-900 dark:text-zinc-100">
            <slot name="title" />
        </h3>

        <slot />
    </a>
</PrefetchOnMouseover>
