---
interface Props {
    class?: string;
}

/*
    `...rest` is needed in order for the classes from the parent to be properly scoped for the styling specified within by parent
    (see https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component)
*/
const { class: classes, ...rest } = Astro.props;
---

<section class:list={['max-w-4xl mx-auto', classes]} {...rest}>
    <h2 class="font-sans font-bold text-4xl text-sky-950/90 px-[calc(2_*_var(--spacing-text))] dark:text-zinc-100">
        <slot name="header" />
    </h2>

    <slot />
</section>
