---
import { Language } from '@catechism-types';

import Menu from './menu/menu.astro';
import Search from './search/search.astro';
import TableOfContentsTrigger from './table-of-contents/table-of-contents-trigger.astro';

import { ElementClass, ElementID } from '@logic/ui';

interface Props {
    language: Language;
}

const { language } = Astro.props;
---
<script>
    import { shoelaceInitialized } from '@logic/custom-elements';
    import { setToolbarVisibility } from '@logic/toolbar';

    await shoelaceInitialized();
    setToolbarVisibility();
</script>

{/* If the height of this toolbar changes, the `--toolbar-height` variable in `source/css/base.css` must be updated */}
<div
    id={ElementID.TOOLBAR}
    class:list={[
        'relative w-full px-4 bg-stone-100 font-sans text-stone-800 rounded-md mx-3 border border-stone-300 transition-transform duration-800 dark:bg-zinc-925 dark:text-zinc-350 dark:border-zinc-700',
        ElementClass.TOOLBAR_TRANSLATE_OFFSCREEN,
    ]}
>
    <div class="max-w-reading mx-auto flex items-center gap-2">
        <Search {language} />

        <TableOfContentsTrigger {language} />

        <Menu {language} />
    </div>
</div>
