---
// This component is intended to be placed on the UI only once

import { ElementID } from '@logic/ui';
---

<script>
    import { onClick } from '@logic/dom-utils';
    import { $crossReferenceDrawerIsOpen } from '@logic/state/cross-reference-drawer';
    import { ElementID } from '@logic/ui';

    const closeButton = document.getElementById(ElementID.CROSS_REFERENCE_DRAWER_CLOSE_BUTTON);
    onClick(closeButton, () => $crossReferenceDrawerIsOpen.set(false));
</script>

<div class="relative max-h-[50vh] flex bg-white border-t">
    <div class="absolute top-0 right-0">
        <button type="button" id={ElementID.CROSS_REFERENCE_DRAWER_CLOSE_BUTTON} class="p-4 mt-4 border">Close</button>
    </div>

    <div class="w-full overflow-y-auto">
        <!-- The bottom padding accounts for the height of the toolbar -->
        <div id={ElementID.CROSS_REFERENCE_DRAWER_CONTENT_WRAPPER} class="h-fit max-w-prose mx-auto pb-14"></div>
    </div>
</div>
