---
import { ElementID } from '@logic/ui';
---

<script>
    import { hide, onClick } from '@logic/dom-utils';
    import { ElementID } from '@logic/ui';

    onClick(
        document.getElementById(ElementID.CROSS_REFERENCE_WINDOW_CLOSE),
        () => hide(document.getElementById(ElementID.CROSS_REFERENCE_WINDOW_WRAPPER)),
    );
</script>

<div class="max-h-[30vh] max-w-5xl mx-auto space-y-4">
    <button id={ElementID.CROSS_REFERENCE_WINDOW_CLOSE} type="button" class="cursor-pointer">[ close ]</button>
    <div id={ElementID.CROSS_REFERENCE_CONTENT_WRAPPER}></div>
</div>
