---
import { Language, Paragraph } from '@catechism-types';

import ContentBaseArray from './content-base-array.astro';

interface Props {
    paragraphs: Array<Paragraph>;
    language: Language;
}

const { paragraphs, language } = Astro.props;
---

<div class="pb-toolbar-height">
    {paragraphs && <ContentBaseArray content={paragraphs} {language} />}
</div>
