---
interface Props {
    paragraphNumber: number;
}

const { paragraphNumber } = Astro.props;
---

<span class="relative font-sans font-bold text-lg text-stone-500 space-y-2 dark:text-xl dark:text-neutral-200">
    {paragraphNumber}
</span>
