---
import { Language, Part as PartType } from '@catechism-types';
import { getAllChildContent } from '@catechism-utils/content';

import { getRomanNumeral } from '@components/utils.ts';
import ContentBaseArray from './content-base-array.astro';

interface Props {
    part: PartType;
    language: Language;
}

const { part, language } = Astro.props;

const childContent = getAllChildContent(part);
---

<div class="font-sans font-bold text-stone-600 text-center tracking-wider uppercase mb-6">Part {getRomanNumeral(part.partNumber)}</div>
<h1 class="font-title text-6xl text-center mb-24">{part.title}</h1>
<ContentBaseArray content={childContent} {language} />
