---
import { DEFAULT_LANGUAGE } from '@catechism-types';

import ContentLayout from '@layouts/content-layout.astro';

import { getLanguageFromPathname } from '@logic/routing';
import { translate as t } from '@logic/translation';

export const prerender = false;

const language = getLanguageFromPathname(Astro.url.pathname) ?? DEFAULT_LANGUAGE;
const homeUrl = DEFAULT_LANGUAGE === language ? '/' : `/${language}`;
---

<script>
    import { DEFAULT_LANGUAGE } from '@catechism-types';
    import { getLanguageFromPathname } from '@logic/routing';
    import { updateToolbarNavigationText } from '@logic/toolbar';
    import { translate as t } from '@logic/translation';

    const language = getLanguageFromPathname(globalThis.location.pathname) ?? DEFAULT_LANGUAGE;
    updateToolbarNavigationText(t('Table of Contents', language));
</script>

<ContentLayout {language}>
    <div class="h-[70vh] flex flex-col justify-center">
        <div class="flex flex-col justify-center items-center">
            <h1>{t('Page not found.', language)}</h1>
            <h2>
                <a href={homeUrl}>{t('Go Home', language)}</a>
            </h2>
        </div>
    </div>
</ContentLayout>
