---
import { DEFAULT_LANGUAGE } from '@catechism-types';

import BaseLayout from '@layouts/base-layout.astro';
---

<BaseLayout language={DEFAULT_LANGUAGE}>
    <div class="space-y-4 p-8">
        <div>
            (the "About" page)
        </div>
        <div>
            TODO: Implement
        </div>
    </div>
</BaseLayout>
