---
import { Language } from '@catechism-types';

import CrossReferencePanel from '@components/content/catechism/cross-reference-panel.astro';

import BaseLayout from '@layouts/base-layout.astro';

import { ElementID } from '@logic/ui';

interface Props {
    language: Language;
}
const { language } = Astro.props;
---

<BaseLayout {language}>
    <div id={ElementID.CONTENT_WRAPPER} class="min-h-screen">
        {/* Content is inserted here */} <slot />
    </div>

    <div
        id={ElementID.CROSS_REFERENCE_PANEL_WRAPPER}
        class="fixed z-10 bottom-0 inset-x-0 translate-y-full transition-transform"
    >
        <CrossReferencePanel />
    </div>
</BaseLayout>
