---
import { Language } from '@catechism-types';

import CrossReferencePanel from '@components/content/catechism/cross-reference-panel.astro';

import BaseLayout from '@layouts/base-layout.astro';

import { ElementID } from '@logic/ui';

interface Props {
    language: Language;
}
const { language } = Astro.props;
---

<BaseLayout {language}>
    <div id={ElementID.CONTENT_WRAPPER} class="min-h-screen max-w-5xl mx-auto border-4 border-white/10">
        {/* Content is inserted here */} <slot />
    </div>

    <div id={ElementID.CROSS_REFERENCE_PANEL_WRAPPER} class="fixed bottom-0 inset-x-0 translate-y-full transition-transform">
        <CrossReferencePanel />
    </div>
</BaseLayout>
