---
import { Language } from '@catechism-types';

import PartialContentLink from '@components/partial-content-link.astro';
import Title from './title.astro';

import { getAuxiliaryRouteLabel } from '@logic/constants';
import { removeLanguageTag } from '@logic/routing';
import { translate as t } from '@logic/translation';

import { getAuxiliaryRoutes } from '@pages/_routes';

interface Props {
    language: Language;
}

const { language } = Astro.props;

const routes = getAuxiliaryRoutes()
    .filter((route) => route.params.language === language)
    .map((route) => {
        let { language, path } = route.params;

        path = removeLanguageTag(path, language);
        const label = getAuxiliaryRouteLabel(path, language);

        return { path, label };
    });
---

<div class="max-w-reading-with-padding mx-auto px-text">
    <Title>
        {t('Resources', language)}
    </Title>

    <ol class="mt-6 space-y-2">
        {
            routes.map((route) => (
                <li>
                    <PartialContentLink url={route.path} {language} innerClass="grid items-center min-h-12">
                        {route.label}
                    </PartialContentLink>
                </li>
            ))
        }
    </ol>
</div>
