---
import { Language } from '@catechism-types';

import PartialContentLink from '@components/partial-content-link.astro';

import { AuxiliaryRouteKeysByLanguageAndRoute, AuxiliaryRouteLabels } from '@logic/constants';
import { removeLanguageTag } from '@logic/routing';
import { translate } from '@logic/translation';

import { getAuxiliaryRoutes } from '@pages/_routes';

interface Props {
    language: Language;
}

const { language } = Astro.props;

const routes = getAuxiliaryRoutes()
    .filter((route) => route.params.language === language)
    .map((route) => {
        let { language, path } = route.params;

        path = path.replace('/', '');
        path = removeLanguageTag(path, language);
        const routeKey = AuxiliaryRouteKeysByLanguageAndRoute[language][path];

        const label = translate(AuxiliaryRouteLabels[routeKey], language);

        return { path, label };
    });
---

<h1 class="sticky top-0 bg-white pt-13 pb-2 mb-2 shadow-sm shadow-white">
    <span class="font-title text-3xl text-stone-800">
        Resources
    </span>
</h1>

<ol class="list-disc list-inside marker space-y-2">
    {
        routes.map((route) => (
            <li>
                <PartialContentLink url={route.path} {language}>
                    {route.label}
                </PartialContentLink>
            </li>
        ))
    }
</ol>
