<h1 class="sticky top-0 bg-white pt-13 pb-2 mb-2 shadow-sm shadow-white">
    <span class="font-title text-3xl text-stone-800">
        Resources
    </span>
</h1>

<ol class="list-disc list-inside marker space-y-2">
    <li>Apostolic Letter</li>
    <li>Apostolic Constitution</li>
    <li>Glossary</li>
    <li>Index: Topics</li>
    <li>Index: Citations</li>
</ol>
