<div
    class:list={[
        'bg-slate-100/30 font-sans font-bold text-xl text-sky-900 tracking-widest',
        'py-4 px-6 border-2 border-white rounded-md shadow-xl',
        'dark:bg-arctic-900/60 dark:text-gray-100 dark:border-2 dark:border-gray-600 dark:shadow-zinc-950/50',
    ]}
>
    <slot />
</div>
